.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
	animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes backgroundColorPalette {
	0% {
		background: #4EB0CD;
	}
	25% {
		background: #EDD7A5;
	}
	50% {
		background: #E1BF00;
	}
	75% {
		background: #31EEE7;
	}
	100% {
		background: #0056DF;
	}
}
